@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agipo';
  src: url('/fonts/Agipo-Bold-Cond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}